<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
  <div class="container" style="text-align: center">
    <div>
      <img src="https://t3.ftcdn.net/jpg/02/20/14/38/360_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg" alt="welcome"/>
      <% if (typeof message !== 'undefined' ) { %>
        <p><%= message %></p>
      <% } %>
    </div>
    <div style="text-align: center"><h2>Manage all your files online now!</h2></div>
    <div style="text-align: center">
      <div><a href="/login"><button style="width: 300px">Login</button></a></div>
      <div><a href="/register"><button style="width: 300px">Register</button></a></div>
    </div>
  </div>
  </body>
</html>