<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
  <div style="text-align: center">
    <h1>Dashboard</h1>
    <h3>My files</h3>
    <embed src="/files"/>

    <div>
      <form action="/files" method="POST">
        <a>New file:</a>
        <input type="text" id="title" name="title" placeholder="Title" required/>
        <input type="text" id="tag" name="tag" placeholder="Tag" required/>
        <input type="submit" value="Save" />
      </form>
    </div>

    <h3>Shared with me</h3>
    <div>
      <embed src="/shared">
    </div>

    <a href="/logout"><button style="color: tomato">Logout</button></a>
  </div>
  </body>
<style>
  embed {
    width: 80%;
    margin: 5px;
    padding: 5px;
  }
</style>
</html>