<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
  <div class="container" style="text-align: center">
    <div style="text-align: center"><h2>Final Bases II</h2></div>
    <div style="text-align: center">
      <div><a href="/api-doc"><button>Swagger</button></a></div>
      <div><a href="/welcome"><button>Web Application</button></a></div>
    </div>
  </div>
  </body>
</html>